.food-item{
    width: 100%;
    margin:auto ;
    border-radius: 15px;
    box-shadow: 0px 2px 10px cyan;
    transition: 0.3s;
    animation:fadIn 1s;
}
.food-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.food-info{
    padding: 15px;
}
.food-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

}
.food-info p{
    font-size: 20px;
    font-family: 'Open Sans';
}
.food-info img{
    width: 60px;
}

.food-desc{
padding: 7px;
justify-content: space-around;

}
.food-desc p{
    font-size: 18px;
    font-family: 'Helvetica Neue';
    color: dimgrey;

}
.food-price{
    padding: 7px;
}
.food-price p{
    font-size: 20px;
    font-weight: 600;
    font-family:'Open Sans' ;
    color: rgb(206, 41, 41);
}
.food-img-container{
    position: relative;

}
.food-img-container .add{
    position: absolute;
    width: 35px;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 10px;
    display: flex;
    align-items: center;
    transition: 1s;
    background-color: aliceblue;
    border-radius: 50%;

    gap: 10px;

}
.food-item-counter p{
    padding: 5px;
    font-size: 18px;
    font-weight: 700;
    font-family:'Open Sans';
    color: rgb(178, 37, 37);
 }
 .food-item-counter img{
    width: 30px;
 }