.header{
    height: 35vw;
    margin: 30px auto;
    background: url("../../assets/header_img.png") no-repeat;

    background-size: contain;
    position: relative;

}
.header-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 18%;
    left:7vw;
    animation: fadIn 2s;
}
.header-content h2{
    font-weight: 500;
    font-size: max(4.5vw,20px);
    color: azure;
}
.header-content p{
    color: azure;
    font-size: 1.5vw;
}
.header-content button{
    border: none;
    color: rgb(78, 54, 54);
    font-size: max(1.5vw ,13px);
    padding: 1vw 2.3vw;
    font-weight: 500;
    background-color: azure;
    border-radius: 40px;
}

/* Responsive styles for smaller screens */
@media (max-width: 750px) {

    .header-content {
        max-width: 65%;
    }
    .header-content p {
        display: none;
    }
    .header-content button {
        font-size: 2vw 4vwx;
    }
}


@media (max-width: 1200px) {

    .header-content {
        max-width: 45%;
        
    }

}