.navbar{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
    padding: 5px;
}
.navbar-manu{
    display: flex;
    list-style: none;
    gap: 18px;
    color: rgb(133, 118, 118);
    font-size: 18px;

}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;

}
.navbar button{
    background: transparent;
    font-size: 17px;
    color: rgb(90, 90, 186);
    border: 1px solid tomato;
    padding: 10px 20px;
    border-radius:50px ;
    cursor: pointer;
    transition: 0.4s;
}
.navbar button:hover{
    background-color: beige;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom:3px solid aqua ;
}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -5px;
    right: -7px;

}
@media(max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-manu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;

    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media(max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-manu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;

    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media(max-width:750px){
   
    .navbar-manu{
        display: none;
    }
   
}